.AboutFAQWrapper {
  display: flex;
  width: 100%;
  padding: 100px 0;
  background: #f6f6f6;
  .AboutFAQWrapperMaxContainer {
    display: flex;
    width: 1096px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0 auto;
  }
  .LeftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .LeftHeader {
      color: #21232B;
      font-family: "Tomorrow Bolder", monospace;
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: 120%;
      letter-spacing: -0.48px;
      background: conic-gradient(from 180deg at 48.5% 50%, #5A5A5A 26.24999910593033deg, #1E1E1E 88.12500178813934deg, #3A3A3A 146.25deg, #1E1E1E 204.37499284744263deg, #5E5E5E 268.1250071525574deg, #1E1E1E 331.875deg);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .MobileTitle {
    display: none;
  }
  .RightContainer {
    h1 {
      display: none;
    }
    h2 {
      display: none;
    }
  }
}


@media only screen and (max-width: 1400px) {
  .AboutFAQWrapper {
    width: 100%;
  }
}

/* Mobile styles */
@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .AboutFAQWrapper {
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .AboutFAQWrapperMaxContainer {
      width: 688px;
      flex-direction: column;
      align-items: center;
      .LeftContainer {
        display: none;
      }
      .MobileTitle {
        display: block;
        padding-top: 6.25rem;
        background: conic-gradient(from 180deg at 48.5% 50%, #5A5A5A 26.24999910593033deg, #1E1E1E 88.12500178813934deg, #3A3A3A 146.25deg, #1E1E1E 204.37499284744263deg, #5E5E5E 268.1250071525574deg, #1E1E1E 331.875deg);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .RightContainer {
        padding: 3.5rem 0 6.25rem 0;
        h2 {
          padding: 0 0 3.5rem 0;
          font-size: 3rem;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .AboutFAQWrapper {
    width: auto;
    padding: 0 1.5rem;
    border-radius: 0;
    flex-direction: column;
    .LeftContainer {
      display: none;
    }
    .MobileTitle {
      padding-top: 6.25rem;
      padding-bottom: 3rem;
      background: conic-gradient(from 180deg at 48.5% 50%, #5A5A5A 26.24999910593033deg, #1E1E1E 88.12500178813934deg, #3A3A3A 146.25deg, #1E1E1E 204.37499284744263deg, #5E5E5E 268.1250071525574deg, #1E1E1E 331.875deg);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .RightContainer {
      h1 {
        display: block;
        margin-bottom: 2.5rem;
        text-align: center;
      }
      h2 {
        padding: 0 0 3.5rem 0;
        font-size: 2rem;
        text-align: center;
      }
    }
  }
}