.FAQuestionWrapper {
  width: 774px;
  padding: 16px 0;
  color: var(--gray, #21232B);
  /* Body1-bold */
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  border-bottom: 1px solid var(--black-alpha-10, rgba(0, 0, 0, 0.10));
  .Question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Answer {
    margin-top: 12.5px;
    color: var(--black-alpha-70, rgba(0, 0, 0, 0.70));
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    padding-right: 100px;
  }
}

/* Mobile styles */
@media only screen and (max-width: 1200px)  {
  .FAQuestionWrapper {
    width: auto;
  }
}