.WaveSvg {
  width: 100%;
  overflow: hidden;
  margin-bottom: -1px;
}
.SporeIntroWrapper {
  position: relative;
  display: flex;
  background-image: url('../../assets/img/pixel-black-bg.png');
  padding: 70px 153px 70px 180px;
  box-sizing: border-box;
  .SporeIntroTitle {
    position: sticky;
    width: 50%;
    height:fit-content;
    top: 200px;
    margin-bottom: 100px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    white-space: pre;
    h1 {
      color: #FFF;
    }
    .IntroSubTtile {
      font-family: Chakra Petch Regular, monospace;
      color: rgba(255, 255, 255, 0.80);
    }
  }
  .DiscoverButton {
    display: flex;
    width: 248px;
    padding: 20px 24px;
    margin: 48px 0 0 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: conic-gradient(from 180deg at 48.5% 50%, #FBFBFD 26.24999910593033deg, #ECECEC 88.12500178813934deg, #FFF 156.58468008041382deg, #D6DFE6 191.74442768096924deg, #ECECEC 237.1290135383606deg, #FAFBFC 255.19062280654907deg, #ECECEC 310.1085305213928deg, #D4DDE2 331.875deg);
    color: #1e1e1e;
    text-align: center;
    &.PCDiscoverButton {
      display: flex;
    }
    &.MobileDiscoverButton {
      display: none;
    }
  }
  .SporeIntroCards {
    position: sticky;
    overflow: auto;
    top: 0;
  }
}



@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .WaveSvg {
    position: relative;
    //svg {
    //  position: absolute;
    //  top: -10rem;
    //  left: -10rem;
    //}
  }
  .SporeIntroWrapper {
    padding: 0;
    flex-direction: column;
    .SporeIntroTitle {
      width: auto;
      text-align: center;
      margin-bottom: 3.5rem;
    }
    .DiscoverButton {
      width: 343px;
      margin: 3rem auto 6.25rem auto !important;
      &.PCDiscoverButton {
        display: none;
      }
      &.MobileDiscoverButton {
        display: flex;
        width: 21.4375rem;
        padding: 0.9375rem 1.5625rem;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 768px)  {
  .WaveSvg {
    position: relative;
    svg {
      position: absolute;
      top: -10rem;
      left: -26rem;
    }
  }
  .SporeIntroWrapper {
    display: block;
    padding: 0 1rem;
    .SporeIntroTitle {
      width: auto;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 3.5rem;
    }
    .DiscoverButton {
      width: 100%;
      margin: 3rem auto 6.25rem auto !important;
      &.PCDiscoverButton {
        display: none;
      }
      &.MobileDiscoverButton {
        display: flex;
        width: 21.4375rem;
        padding: 0.9375rem 1.5625rem;
        justify-content: center;
        align-items: center;
      }
    }
  }
}