@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-size: 16px;
}

html,
body {
  background: var(--background-01, #FFF4CC);
  margin: 0;
  overflow: auto;
}

#root {
  overflow: auto;
}

@font-face {
  font-family: 'Nunito';
  src: url('../font/Nunito-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url('../font/Nunito-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Mono';
  src: url('../font/RedHatMono-VariableFont_wght.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo';
  src: url('../font/Baloo2-VariableFont_wght.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo Extra Bolder';
  src: url('../font/Baloo2-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaveatBrush';
  src: url('../font/CaveatBrush-Regular_1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik Mono One';
  src: url('../font/RubikMonoOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h5 {
  font-family: "Baloo Extra Bolder";
  font-weight: 800;
  line-height: 120%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-family: Nunito-SemiBold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}

h5 {
  font-size: 32px;
}

.sub-header,
.sub-header-2,
.body-1,
.body-2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.sub-header {
  font-size: 20px;
}

.sub-header-2 {
  font-size: 24px;
}

.body-1 {
  font-size: 18px;
}

.body-2 {
  font-size: 16px;
}

.button-ct {
  font-family: "Baloo Extra Bolder";
  font-size: 16px;
  transition: transform 0.3s ease;
  &:hover {
    cursor: pointer;
    transform: rotate(-5deg);
    opacity: 0.8;
  }
}

@media only screen and (max-width: 1280px) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-family: Nunito-SemiBold;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
  }
  .sub-header {
    font-size: 1.125rem;
  }

  .sub-header-2 {
    font-size: 1.25rem;
  }

  .body-1 {
    font-size: 1rem;
  }

  .body-2 {
    font-size: 0.875rem;
  }

  .button-ct {
    font-family: "Baloo Extra Bolder";
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
