@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-size: 16px;
}

html,
body {
  background: white;
  margin: 0;
  overflow: auto;
}

#root {
  overflow: auto;
}

.bg-pixel-grey {
  background-image: url('../../assets/img/pixel-grey-bg.png');
  .header-text {
    color: rgba(30, 30, 30, 0.7);
  }
}

.bg-pixel-black {
  background-image: url('../../assets/img/pixel-black-bg.png');
  .header-text {
    color: #fff !important;
  }
}

.pc-max-container {
  width: 1096px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

@font-face {
  font-family: 'Tomorrow';
  src: url('../font/Tomorrow/Tomorrow-ExtraLight.ttf') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Tomorrow';
  src: url('../font/Tomorrow/Tomorrow-Light.ttf') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Tomorrow';
  src: url('../font/Tomorrow/Tomorrow-Regular.ttf') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Tomorrow';
  src: url('../font/Tomorrow/Tomorrow-Medium.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tomorrow';
  src: url('../font/Tomorrow/Tomorrow-SemiBold.ttf') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tomorrow';
  src: url('../font/Tomorrow/Tomorrow-Bold.ttf') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Tomorrow';
  src: url('../font/Tomorrow/Tomorrow-ExtraBold.ttf') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Tomorrow';
  src: url('../font/Tomorrow/Tomorrow-Black.ttf') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Chakra Petch Regular';
  src: url('../font/ChakraPetch-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chakra Petch Bold';
  src: url('../font/ChakraPetch-Bold.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,{
  font-family: "Tomorrow", monospace;
  font-weight: 700;
  line-height: 120%;
}

h5 {
  font-family: "Tomorrow", monospace;
  font-weight: 600;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-family: Nunito-SemiBold, monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}

h5 {
  font-size: 28px;
}

.sub-header,
.sub-header-2,
.body-1,
.body-2 {
  font-family: Chakra Petch Regular, monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.body-1-bold {
  font-family: Chakra Petch Bold, monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.sub-header {
  font-size: 18px;
}

.sub-header-2 {
  font-size: 24px;
}

.body-1 {
  font-size: 16px;
}

.body-2 {
  font-size: 16px;
}

.button-ct {
  font-family: "Tomorrow", monospace;
  font-size: 16px;
  font-weight: 700;
  transition: transform 0.3s ease;
  background: conic-gradient(from 188deg at 49.81% 50%, #5A5A5A 26.24999910593033deg, #000 88.12500178813934deg, #3A3A3A 146.25deg, #000 204.37499284744263deg, #5E5E5E 268.1250071525574deg, #000 331.875deg);
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 1280px) {
  .pc-max-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-family: Nunito-SemiBold, monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
  }
  .sub-header {
    font-size: 1.125rem;
  }

  .sub-header-2 {
    font-size: 1.25rem;
  }

  .body-1 {
    font-size: 1rem;
  }

  .body-2 {
    font-size: 0.875rem;
  }

  .button-ct {
    font-family: "Tomorrow Bold", monospace;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .pc-max-container {
    width: 100%;
  }
  h1 {
    font-size: 1.75rem;
  }
  .button-ct {
    width: 100% !important;
  }
}
