.SporeItemWrapper {
  position: relative;
  width: 360px;
  height: auto;
  background-color: #ffffff;
  border-radius: 40px;
  .GuideContentContainer {
    padding: 32px 24px;
    .GuideTitle {
      color: var(--black-alpha-100, #000);
      font-family: Baloo Extra Bolder;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 36px */
    }
    .GuideContent {
      margin-top: 16px;
      font-size: 16px;
      color: var(--black-alpha-100, #000);
    }
    .LinkButton {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin: 1rem 0 2rem 0;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .SporeItemWrapper {
    width: 360px;
    height: 423px;
    .LinkButton {
      position: absolute;
      bottom: 32px;
      right: 32px;
      margin: 0 !important;
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  .SporeItemWrapper {
    width: 32.5rem;
    border-radius: 4.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .SporeItemWrapper {
  }
}