.AboutIntroWrapper {
  width: 1400px;
  border-radius: 35px;
  margin: 0 auto;
  padding: 0 180px;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--background-02, #FFF9EA);
  .AboutIntroTitle {
    margin: 100px auto 56px auto;
    color: var(--black-alpha-100, #000);
    text-align: center;

    .ImaginationText {
      display: inline-block;
      width: 274px;
      background-image: url('../../assets/svg/text-imagination.svg');
      background-repeat: no-repeat;
      background-position: left 81%;
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .AboutIntroWrapper {
    width: 1200px;
    padding: 0 80px;
  }
}

/* Mobile styles */
@media only screen and (max-width: 1200px) and (min-width: 412px) {
  .AboutIntroWrapper {
    width: auto;
    margin: 0 2.5rem;
    padding: 0 1.5rem 7.38rem 1.5rem;
    .AboutIntroTitle {
      h2 {
        font-size: 3rem;
      }
      .ImaginationText {
        width: 11.875rem;
        width: 11.875rem;
        background-size: contain;
        background-position: left 90%;
      }
    }
  }
}

@media only screen and (max-width: 412px) {
  .AboutIntroWrapper {
    width: auto;
    border-radius: 0;
    padding: 0 1rem 6.25rem 1rem;
    .AboutIntroTitle {
      h2 {
        font-size: 3rem;
      }
      .ImaginationText {
        width: 11.875rem;
        width: 11.875rem;
        background-size: contain;
        background-position: left 90%;
      }
    }
  }
}