.DocsWrapper {
  width: 1400px;
  margin: 56px auto 0 auto;
  padding-bottom: 100px;
  border-radius: 35px;
  background: var(--white-alpha-100, #FFF);
  .MdxContainer {
    padding: 0 304px;
    h1 {
      color: var(--black-alpha-100, #000);
      font-family: Baloo Extra Bolder;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 120%; /* 38.4px */
    }
    p, ul {
      color: var(--black-alpha-100, #000);
      font-family: Nunito;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */
    }
    ul {
      list-style: disc;
      margin-left: 26px;
      li {
        padding: 0 4px 8px 4px;
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .DocsWrapper {
    width: 1200px;
    .MdxContainer {
      padding: 0 204px;
    }
  }
}

/* Mobile styles */
@media only screen and (max-width: 1200px) and (min-width: 412px) {
  .DocsWrapper {
    width: auto;
    margin: 3rem 2.5rem 0 2.5rem;
    overflow: hidden;
    .MdxContainer {
      width: auto;
      padding: 0 1.5rem;
    }
  }
}

@media only screen and (max-width: 412px)  {
  .DocsWrapper {
    width: auto;
    margin: 3rem 2.5rem 0 2.5rem;
    overflow: hidden;
    .MdxContainer {
      width: auto;
      padding: 0 1.5rem;
    }
  }
}
