.TrySloganWrapper {
  width: 958px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .tag {
    display: flex;
    height: 40px;
    padding: 9px 24px 9px 8px;
    align-items: center;
    gap: 16px;
    border-radius: 32px;
    border: 1px solid var(--black-alpha-50, rgba(0, 0, 0, 0.50));
    background: var(--white-alpha-30, rgba(255, 255, 255, 0.30));
    backdrop-filter: blur(5px);
    color: var(--black-alpha-50, rgba(0, 0, 0, 0.50));
    font-family: Baloo;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
  }
  .Planting {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    .line {
      width: 78px;
      height: 8px;
      border-radius: 13px;
      border: 1px solid var(--black-alpha-100, #000);
      background: var(--brand-yellow, #FFC43B);
    }
    .text {
      color: var(--black-alpha-100, #000);
      /* Header1 */
      font-family: Baloo Extra Bolder;
      font-size: 56px;
      font-style: normal;
      font-weight: 800;
      line-height: 120%; /* 76.8px */
      letter-spacing: -0.64px;
    }
  }
  .SporeGuide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 58px;
    .text {
      span {
        color: var(--brand-blue, #3A5AFF);
      }
      font-family: Baloo Extra Bolder;
      font-size: 56px;
      font-style: normal;
      font-weight: 800;
      line-height: 120%;
      letter-spacing: -0.56px;
    }
    .line {
      width: 214px;
      height: 10px;
      border-radius: 13px;
      border: 1px solid var(--black-alpha-100, #000);
      background: var(--brand-blue, #3A5AFF);
    }
  }
  .DynamicContents {
    display: flex;
    justify-content: center;
    margin-top: 58px;
    gap: 110px;
    .RightContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      .line {
        width: 171px;
        height: 10px;
        border-radius: 13px;
        border: 1px solid var(--black-alpha-100, #000);
        background: var(--white-alpha-100, #FFF);
      }
    }
  }
}