.CommonHeaderWrapper {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  padding: 20px 120px;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  box-sizing: content-box;
  .HeaderInner {
    width: 100%;
    max-width: 1360px;
    padding: 0 120px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  button {
    img {
      width: 44px;
      height: 44px;
    }
  }

  &.MobileFullScreen {
    width: 100%;
    margin: 0;
  }

  .CommonHeaderLogo {
    font-feature-settings: 'calt' off;
    font-family: CaveatBrush, monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    text-transform: uppercase;
    white-space: nowrap;
    a {
      color: #FFF;
      text-decoration: none;
    }
  }

  .HeaderIconContainer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    a {
      width: 32px;
      height: 32px;
      background-color: rgba(255, 255, 255, 0.70);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      &:hover {
        background-color: #FFC43B;
      }
    }
  }

  .CommonHeaderNav {
    display: flex;
    align-items: center;
    .HomeBtn,
    .SubMenuGuide {
      width: 88px;
      height: 32px;
      line-height: 32px;
      color: rgba(30, 30, 30, 0.70);
      text-align: center;
      font-family: "Tomorrow Light", monospace;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: -0.16px;
      text-decoration: none;

      &:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 88px;
        height: 32px;
        border-radius: 49px;
        box-sizing: content-box;
        color: #ffffff;
        text-align: center;
        /* Button */
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 16px */
        letter-spacing: -0.16px;
        background: conic-gradient(from 180deg at 48.5% 50%, #5A5A5A 26.24999910593033deg, #000 88.12500178813934deg, #3A3A3A 146.25deg, #000 204.37499284744263deg, #5E5E5E 268.1250071525574deg, #000 331.875deg);
      }
    }
    .SubMenuGuide {
      &:hover {
        cursor: pointer;
      }
    }
    .DropdownMenu {
      position: relative;
      display: inline-block;

      .SubMenuMargin {
        position: absolute;
        height: 4%;
        left: 40px;
        .SubDocMenuList {
          display: none;
          position: absolute;
          background: url('../../assets/img/menu-bg.png');
          background-size: cover;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 2;
          width: 576px;
          height: 368px;
          flex-shrink: 0;
          border-radius: 16px;
          border: 2px solid #1E1E1E;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          animation: fadeIn 0.3s ease-in-out;
          //padding: 10px 50px 10px 32px;
        }
        .DocList {
          width: 50%;
          padding: 24px 32px 0 18px;
          .SubMenuTextContainer {
            display: block;
            padding: 10px 15px;
            border-radius: 5px;
            margin-bottom: 19px;
            .SubMenuItemHeader {
              text-align: left;
              font-family: "Tomorrow Medium", monospace;
            }
            &:hover {
              cursor: pointer;
              background-color: #E7E7E7;
            }
          }
          svg {
            margin-left: 13px;
          }
        }
        .MenuDivider {
          width: 3px;
          background: #000;
          height: 100%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);

        }
        .MenuList {
          width: 50%;
        }
      }


      &:before {
        content: "";
        position: absolute;
        bottom: -32px;
        left: 0;
        right: 0;
        height: 32px;
        background-color: transparent;
        z-index: 1;
      }

      .ArrowDown {
        transform: rotate(90deg);
        display: inline-block;
        margin-left: 5px;
      }

      .SubMenu {
        width: 50%;
        height: 100%;
        padding: 24px 32px 43px 18px;
        display: flex;
        flex-direction: column;
        .SubMenuItem {
          width: 100%;
          height: 69px;
          padding: 8px 10px;
          color: #1e1e1e;
          .SubMenuItemHeader {
            text-align: left;
            font-family: "Tomorrow Medium", monospace;
          }
          .SubMenuItemContent {
            text-align: left;
          }
        }
        a {
          flex-basis: calc(50% - 30px);
          display: block;
          color: #333;
          text-decoration: none;
          box-sizing: border-box;
          line-height: 75%;
          border-radius: 5px;

          &:hover {
            background-color: #E7E7E7;
          }
        }
      }

      &:hover .SubDocMenuList {
        display: flex;
        align-items: flex-start;
      }


    }
    .MobileHome {
      color: #ffffff;
      font-family: Chakra Petch Regular, monospace;
      font-size: 1rem;
      margin: 1rem 5rem  0 0!important;
      &:hover {
        font-family: Chakra Petch bold, monospace;
      }
    }
    .MobileDropdownMenu {
      width: 100%;
      color: #ffffff;
      font-family: Chakra Petch Regular, monospace;
      font-size: 1rem;
      margin: 0 5rem 1.25rem 0;
      &:hover {
        font-family: Chakra Petch bold, monospace;
      }
      .DropdownMenuTitle {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .ArrowDown {
        display: inline-block;
        transition: transform 0.3s; /* 添加过渡效果 */
        transform: rotate(90deg);
        margin-left: 1rem;
      }

      .ArrowUp {
        margin-left: 1rem;
        transform: rotate(270deg); /* 旋转箭头 */
      }
      &:hover {
        cursor: pointer;
      }

      .MobileDropdownList {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a {
          width: 100%;
          text-align: left;
          margin: 1.25rem 0 0 1rem;
        }
      }
    }
  }

  .CommonHeaderContactUs {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #FFC43B;
    color: #000;
    text-align: center;
    font-family: Baloo Extra Bolder, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
    letter-spacing: -0.16px;
    white-space: nowrap;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Mobile styles */
@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .CommonHeaderWrapper {
    display: flex;
    width: 100%;
    height: 5rem;
    top: 0;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    box-sizing: border-box;
    .HeaderInner {
      padding: 0 2.5rem;
    }
    .CommonHeaderNav, {
      display: none;
    }
    button {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #ffffff;
    }
  }
  .HeaderIconContainer {
    justify-content: flex-start;
    margin-left: 5rem;
  }
  .MobileMenuWrappper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/img/header-bg.png');
    background-size: cover;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    .MobileMenu {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .MobileHeader {
        display: flex;
        height: 80px;
        padding: 0 40px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ffffff;
        .CommonHeaderLogo {
          margin-top: 0;
        }

      }
      .CommonHeaderNav {
        display: flex;
        align-items: flex-start !important;
        width: 100%;
        text-align: left;
        a {
          &.Active {
            width: auto;
            height: auto;
            background-color: #000;
            color: var(--brand-yellow, #FFC43B);
          }
        }
      }

      .CommonHeaderLogo {
        margin-top: 2rem;
      }

      .CommonHeaderNav {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding: 0 2.5rem;
        a {
          margin: 0;
        }
      }
    }
    .CommonHeaderContactUs {
      margin-bottom: 2rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .CommonHeaderWrapper {
    display: flex;
    width: 100%;
    top: 0;
    height: 5rem;
    padding: 1.25rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    box-sizing: border-box;
    border-radius: 0;
    .HeaderInner {
      padding: 0;
      align-items: center;
    }
    .CommonHeaderNav,
    .CommonHeaderContactUs{
      display: none;
    }
    .CommonHeaderLogo {
      font-size: 1.125rem;
    }

    button {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #ffffff;
    }
  }
  .MobileMenuWrappper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/img/pixel-black-bg.png');
    .MobileMenu {
      width: 100%;
      .MobileHeader {
        display: flex;
        height: 80px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ffffff;
        padding: 1rem 1.5rem;
        .CommonHeaderLogo {
          margin-top: 0;
          font-size: 1.125rem;
        }
      }
      .CommonHeaderNav {
        display: flex;
        align-items: flex-start !important;
        gap: 1rem;
        flex-direction: column;
        padding: 0 2.5rem;
        a {
          display: flex;
          &.Active {
            background-color: #000;
            color: #FFC43B;
            justify-content: flex-start;
          }
        }
      }
    }
    .CommonHeaderContactUs {
      margin-bottom: 2rem;
    }
  }
}