.CommonHeaderWrapper {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 920px;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
  gap: 160px;
  border-radius: 100px;
  background: var(--black-alpha-100, #000);
  z-index: 999;
  box-sizing: content-box;

  .CommonHeaderLogo {
    font-feature-settings: 'calt' off;
    font-family: CaveatBrush;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    text-transform: uppercase;
    white-space: nowrap;
    a {
      color: var(--white-alpha-100, #FFF);
      text-decoration: none;
    }
  }

  .CommonHeaderNav {
    display: flex;
    align-items: center;
    a {
      width: 64px;
      height: 32px;
      line-height: 32px;
      color: var(--white-alpha-70, rgba(255, 255, 255, 0.70));
      text-align: center;
      /* Button */
      font-family: Baloo Extra Bolder;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      margin: 0 10px;
      letter-spacing: -0.16px;
      text-decoration: none;
      &.Active {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 32px;
        border-radius: 49px;
        color: var(--black-alpha-100, #000);
        text-align: center;
        /* Button */
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 16px */
        letter-spacing: -0.16px;
        background: var(--white-alpha-100, #FFF);
      }
    }
  }

  .CommonHeaderContactUs {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: var(--brand-yellow, #FFC43B);
    color: var(--black-alpha-100, #000);
    text-align: center;
    /* Button */
    font-family: Baloo Extra Bolder;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
    letter-spacing: -0.16px;
    white-space: nowrap;
  }
}

/* Mobile styles */
@media only screen and (max-width: 1000px) and (min-width: 600px) {
  .CommonHeaderWrapper {
    display: flex;
    width: calc(100% - 5rem);
    height: 5rem;
    padding: 1.25rem 2.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    box-sizing: border-box;
    background: var(--black-alpha-100, #000);
    .CommonHeaderNav, {
      display: none;
    }

    button {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #ffffff;
    }
  }
  .MobileMenuWrappper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: -1rem;
    left: -2.5rem;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black-alpha-100, #000);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    //padding: 2rem;
    .MobileMenu {
      width: 100%;
      .MobileHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ffffff;
        padding: 2.5rem 5rem;
        .CommonHeaderLogo {
          margin-top: 0;
        }

      }
      .CommonHeaderNav {
        display: flex;
        align-items: flex-start !important;
        padding: 5rem 2.5rem 0 2.5rem;
        a {
          &.Active {
            width: auto;
            height: auto;
            background-color: #000;
            color: var(--brand-yellow, #FFC43B);
          }
        }
      }

      .CommonHeaderLogo {
        margin-top: 2rem;
      }

      .CommonHeaderNav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin-top: 2rem;

        a {
          margin: 0;
        }
      }
    }
    .CommonHeaderContactUs {
      margin-bottom: 2rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .CommonHeaderWrapper {
    display: flex;
    width: calc(100% - 2rem);
    height: 5rem;
    padding: 1.25rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    box-sizing: border-box;
    background: var(--black-alpha-100, #000);
    .CommonHeaderNav, .CommonHeaderContactUs{
      display: none;
    }
    .CommonHeaderLogo {
      font-size: 1.125rem;
    }

    button {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #ffffff;
    }
  }
  .MobileMenuWrappper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: -1rem;
    left: -1.5rem;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black-alpha-100, #000);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    //padding: 2rem;
    .MobileMenu {
      width: 100%;
      .MobileHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ffffff;
        padding: 2.12rem 2.5rem 1.12rem 2.5rem;
        .CommonHeaderLogo {
          margin-top: 0;
          font-size: 1.125rem;
        }

      }
      .CommonHeaderNav {
        display: flex;
        align-items: flex-start !important;
        padding: 2.5rem 2.5rem 0 2.5rem;
        a {
          display: flex;
          &.Active {
            background-color: #000;
            color: var(--brand-yellow, #FFC43B);
            justify-content: flex-start;
          }
        }
      }

      .CommonHeaderNav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin-top: 2rem;

        a {
          margin: 0;
        }
      }
    }
    .CommonHeaderContactUs {
      margin-bottom: 2rem;
    }
  }
}