.CommonHeaderWrapper {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 920px;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
  gap: 160px;
  border-radius: 100px;
  background: var(--black-alpha-100, #000);
  z-index: 999;
  box-sizing: content-box;

  .CommonHeaderLogo {
    font-feature-settings: 'calt' off;
    font-family: CaveatBrush;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    text-transform: uppercase;
    white-space: nowrap;
    a {
      color: var(--white-alpha-100, #FFF);
      text-decoration: none;
    }
  }

  .CommonHeaderNav {
    display: flex;
    align-items: center;
    a {
      color: var(--white-alpha-70, rgba(255, 255, 255, 0.70));
      text-align: center;
      /* Button */
      font-family: Baloo Extra Bolder;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      margin: 0 10px;
      letter-spacing: -0.16px;
      text-decoration: none;
      &.Active {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 32px;
        border-radius: 49px;
        color: var(--black-alpha-100, #000);
        text-align: center;
        /* Button */
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 16px */
        letter-spacing: -0.16px;
        background: var(--white-alpha-100, #FFF);
      }
    }
  }

  .CommonHeaderContactUs {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: var(--brand-yellow, #FFC43B);
    color: var(--black-alpha-100, #000);
    text-align: center;
    /* Button */
    font-family: Baloo Extra Bolder;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
    letter-spacing: -0.16px;
    white-space: nowrap;
  }
}