.CommonHeaderWrapper {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 976px;
  padding: 20px 60px;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  background: var(--black-alpha-100, #000);
  z-index: 999;
  box-sizing: content-box;

  &.MobileFullScreen {
    width: 100%;
    margin: 0;
  }

  .CommonHeaderLogo {
    font-feature-settings: 'calt' off;
    font-family: CaveatBrush, monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    text-transform: uppercase;
    white-space: nowrap;
    a {
      color: #FFF;
      text-decoration: none;
    }
  }

  .HeaderIconContainer {
    a {
      width: 32px;
      height: 32px;
      background-color: rgba(255, 255, 255, 0.70);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      &:hover {
        background-color: #FFC43B;
      }
    }
  }

  .CommonHeaderNav {
    display: flex;
    align-items: center;
    a,
    .SubMenuGuide {
      width: 88px;
      height: 32px;
      line-height: 32px;
      color: rgba(255, 255, 255, 0.70);
      text-align: center;
      font-family: Baloo Extra Bolder, monospace;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: -0.16px;
      text-decoration: none;

      &:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 88px;
        height: 32px;
        border-radius: 49px;
        box-sizing: content-box;
        color: #000;
        text-align: center;
        /* Button */
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 16px */
        letter-spacing: -0.16px;
        background: #FFF;
      }
    }
    .SubMenuGuide {
      &:hover {
        cursor: pointer;
      }
    }
    .DropdownMenu {
      position: relative;
      display: inline-block;

      .SubMenuMargin {
        position: absolute;
        height: 32px;
        .SubDocMenuList {
          display: none;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 2;
          width: 576px;
          height: 368px;
          flex-shrink: 0;
          border-radius: 20px;
          border: 3px solid #402E32;
          background: #ffffff;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          //padding: 10px 50px 10px 32px;
        }
        .DocList {
          width: 50%;
          padding: 40px 32px 0 18px;
          .SubMenuTextContainer {
            padding: 10px 15px;
            border-radius: 5px;
            margin-bottom: 32px;
            .SubMenuItemHeader {
              text-align: left;
              font-family: Nunito-SemiBold, monospace;
            }
            &:hover {
              cursor: pointer;
              background-color: #FFC43B;
            }
          }
          img {
            width: 227px;
            height: 121px;
          }
        }
        .MenuDivider {
          width: 3px;
          background: #000;
          height: 100%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);

        }
        .MenuList {
          width: 50%;
        }
      }


      &:before {
        content: "";
        position: absolute;
        bottom: -32px;
        left: 0;
        right: 0;
        height: 32px;
        background-color: transparent;
        z-index: 1;
      }

      .ArrowDown {
        transform: rotate(90deg);
        display: inline-block;
        margin-left: 5px;
      }

      .SubMenu {
        width: 50%;
        padding: 40px 32px 0 32px;
        .SubMenuItem {
          width: 100%;
          height: 69px;
          padding: 8px 10px;
          .SubMenuItemHeader {
            text-align: left;
            font-family: Nunito-SemiBold, monospace;
          }
          .SubMenuItemContent {
            text-align: left;
          }
        }
        a {
          flex-basis: calc(50% - 30px);
          display: block;
          color: #333;
          text-decoration: none;
          box-sizing: border-box;
          line-height: 75%;
          border-radius: 5px;

          &:hover {
            background-color: #FFC43B;
          }
        }
      }

      &:hover .SubDocMenuList {
        display: flex;
        align-items: flex-start;
      }


    }
    .MobileDropdownMenu {
      width: 100%;
      color: #ffffff;
      font-family: "Baloo Extra Bolder", monospace;
      font-size: 1rem;
      margin: 1.25rem 5rem;
      .ArrowDown {
        display: inline-block;
        transition: transform 0.3s; /* 添加过渡效果 */
        transform: rotate(90deg);
        margin-left: 1rem;
      }

      .ArrowUp {
        margin-left: 1rem;
        transform: rotate(270deg); /* 旋转箭头 */
      }
      &:hover {
        cursor: pointer;
      }

      .MobileDropdownList {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a {
          width: 100%;
          text-align: left;
          margin: 1.25rem 0 0 1rem;
        }
      }
    }
  }

  .CommonHeaderContactUs {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #FFC43B;
    color: #000;
    text-align: center;
    font-family: Baloo Extra Bolder, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
    letter-spacing: -0.16px;
    white-space: nowrap;
  }
}

/* Mobile styles */
@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .CommonHeaderWrapper {
    display: flex;
    width: 43rem;
    height: 5rem;
    top: 0;
    padding: 1.25rem 2.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    box-sizing: border-box;
    background: #000;
    margin-top: 1rem;
    .CommonHeaderNav, {
      display: none;
    }

    button {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #ffffff;
    }
  }
  .HeaderIconContainer {
    justify-content: flex-start;
    margin-left: 5rem;
  }
  .MobileMenuWrappper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    .MobileMenu {
      width: 100%;
      .MobileHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ffffff;
        padding: 2.5rem 5rem;
        .CommonHeaderLogo {
          margin-top: 0;
        }

      }
      .CommonHeaderNav {
        display: flex;
        align-items: flex-start !important;
        //padding: 5rem 2.5rem 0 2.5rem;
        width: 100%;
        text-align: left;
        a {
          &.Active {
            width: auto;
            height: auto;
            background-color: #000;
            color: var(--brand-yellow, #FFC43B);
          }
        }
      }

      .CommonHeaderLogo {
        margin-top: 2rem;
      }

      .CommonHeaderNav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        //margin-top: 2rem;

        a {
          margin: 0;
        }
      }
    }
    .CommonHeaderContactUs {
      margin-bottom: 2rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .CommonHeaderWrapper {
    display: flex;
    width: calc(100% - 2rem);
    top: 0;
    height: 5rem;
    padding: 1.25rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    box-sizing: border-box;
    background: #000;
    margin-top: 1rem;
    .CommonHeaderNav,
    .CommonHeaderContactUs{
      display: none;
    }
    .CommonHeaderLogo {
      font-size: 1.125rem;
    }

    button {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #ffffff;
    }
  }
  .MobileMenuWrappper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    //padding: 2rem;
    .MobileMenu {
      width: 100%;
      .MobileHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ffffff;
        padding: 2.12rem 2.5rem 1.12rem 2.5rem;
        .CommonHeaderLogo {
          margin-top: 0;
          font-size: 1.125rem;
        }
      }
      .CommonHeaderNav {
        display: flex;
        align-items: flex-start !important;
        gap: 1rem;
        .MobileDropdownMenu {
          margin-left: 2.5rem;
        }
        a {
          display: flex;
          &.Active {
            background-color: #000;
            color: var(--brand-yellow, #FFC43B);
            justify-content: flex-start;
          }
        }
      }

      .HeaderIconContainer {
        margin-left: 2.5rem;
      }

    }
    .CommonHeaderContactUs {
      margin-bottom: 2rem;
    }
  }
}