@tailwind base;
@tailwind components;
@tailwind utilities;

/** Font Montserrat **/

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/font/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/font/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/font/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/font/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/font/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/** Font Inter **/
@font-face {
  font-family: 'Inter';
  src: url('../../public/font/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/font/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/font/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/font/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/font/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/** Font Red Hat Mono **/

@font-face {
  font-family: 'RedHatMono';
  src: url('../../public/font/RedHatMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}