.SloganWrapper {
  position: relative;
  margin: 132px auto 31px auto;
  display: flex;
  flex-direction: column;

  .ColonContainer {
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;
    margin-left: 148px;
  }
  .TextContainer {
    margin: 0 auto 34px auto;
    line-height: 120%;
    text-align: center;
    span {
      display: inline-flex;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: left 75%;
    }
    .AnimationText {
      position: relative;
      height: 67px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      h1 {
        position: absolute;
        top: 0;
        animation: slide 6s linear infinite alternate;
        line-height: 67px;
        font-weight: bold;
      }
    }

    .PurpleFont {
      color: var(--brand-blue, #3A5AFF);
    }
    .BlueMushroom {
      position: absolute;
      top: 106px;
      left: 127px;
    }
    .LoveMushroom {
      position: absolute;
      top: 104px;
      right: 40px;
    }
    .QuestionMushroom {
      position: absolute;
      top: 244px;
      right: 45px;
    }
  }
  .IntroContainer {
    width: 1040px;
    margin: 0 auto;
    text-align: center;
    color: var(--black-alpha-70, rgba(0, 0, 0, 0.70));
  }
  .SpreadButton {
    display: inline-flex;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    margin: 47px auto 56px auto;
    gap: 10px;
    border-radius: 50px;
    background: var(--brand-blue, #3A5AFF);
    color: var(--white-alpha-100, #FFF);
    text-align: center;
    font-feature-settings: 'calt' off;
    letter-spacing: -0.16px;
  }
}

@keyframes slide {
  0%, 20% {
    top: 0;
  }
  40%, 60% {
    top: -67px;
  }
  80%, 100% {
    top: -134px;
  }
}

/* Mobile styles */
@media only screen and (max-width: 1200px) {
  .SloganWrapper {
    margin: 11.5rem auto 10rem auto;
    .IntroContainer {
      width: auto;
      padding: 1.5rem;
    }
    .TextContainer {
      h1 {
        position: relative;
        .ColonContainer {
          position: absolute;
          left: 0;
          margin: 0;
          top: -1.5625rem;
        }
      }
      .BlueMushroom {
        display: none;
      }
      .LoveMushroom {
        display: none;

      }
      .QuestionMushroom {
        display: none;
      }
    }
    .SpreadButton {
      width: 21.4375rem;
      padding: 0.9375rem 1.5625rem;
    }
  }
}

@media only screen and (max-width: 412px)  {
  .SloganWrapper {
    margin: 11.25rem auto 10rem auto;
    .TextContainer {
      h1 {
        .ColonContainer {
          left: 1.25rem;
        }
      }
    }
  }
}