.NoteBoardWrapper {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 2px solid var(--background-03, #402E32);
  background: var(--background-02, #FFF9EA);
  .Header {
    color: var(--black-alpha-100, #000);
  }
}