.SporeItemWrapper {
  position: relative;
  width: 520px;
  height: 614px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 32px auto;
  padding: 0 56px;
  border-radius: 35px;
  background: #FFF4CC;

  &:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.30);
  }

  &.even-wrapper {
    position: relative;
    background-image: url('../../assets/svg/spore-even-bg.svg');
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('../../assets/svg/spore-even-bg.svg');
      z-index: -1;
    }
    &:hover {
      background-image: none;
    }
    &:hover::before {
      transition: 0.5s;
      opacity: 0.8;
    }
  }

  &.odd-wrapper {
    position: relative;
    background-image: url('../../assets/svg/spore-odd-bg.svg');
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('../../assets/svg/spore-odd-bg.svg');
      z-index: -1;
    }
    &:hover {
      background-image: none;
    }
    &:hover::before {
      transition: 0.5s;
      opacity: 0.8;
    }
  }


  .TotalAndIndex {
    width: 76px;
    display: inline-flex;
    margin: 48px 0 0 0;
    padding: 4px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: var(--brand-yellow, #FFC43B);
    color: var(--black-alpha-100, #000);
  }
  .SvgItem {
    margin-top: 48px;
  }

  .SporeItemTitle {
    font-size: 32px;
    color: var(--brand-blue, #3A5AFF);
    margin-top: 32px;
  }
  .SporeItemContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul {
      list-style: disc;
      margin-top: 24px;
      margin-left: 24px;
      li {
        margin-bottom: 8px;
      }
    }
    .content {
      width: 408px;
      /* Body1 */
      z-index: 1;
    }
    .index {
      position: absolute;
      //top: 99px;
      right: 24px;
      color: rgba(255, 196, 59, 0.40);
      text-align: right;
      font-family: Rubik Mono One;
      font-size: 200px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 200px */
    }
  }
  .SporeitemButton {
    a {
      position: absolute;
      width: 48px;
      height: 48px;
      bottom: 30px;
      right: 30px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .SporeItemWrapper {
    width: 32.5rem;
    border-radius: 2.1875rem;
    padding: 0 1rem;
    .SvgItem {
      width: 11.4rem;
      height: 11.4rem;
    }
    .TotalAndIndex {
      width: 5.75rem;
      padding: 0.25rem 1.5rem;
      margin-top: 3rem;
    }
    h2 {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
    .SporeItemContent {
      width: 25.5rem;
      ul {
        li {
        }
      }
      .content {
        width: auto;
        font-size: 1rem;
      }
    }
  }
}


@media only screen and (max-width: 768px)  {
  .SporeItemWrapper {
    width: 21.4rem;
    border-radius: 2.1875rem;
    padding: 0 1rem;
    overflow: hidden;
    .SvgItem {
      width: 11.4rem;
      height: 11.4rem;
    }
    .TotalAndIndex {
      width: 5.75rem;
      padding: 0.25rem 1.5rem;
      margin-top: 3rem;
      font-family: Nunito-SemiBold;
    }
    h2 {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
    .SporeItemContent {
      width: 19.43rem;
      ul {
        li {
        }
      }
      .content {
        width: auto;
        font-size: 1rem;
      }
    }
  }
}