.SporeItemWrapper {
  position: relative;
  width: 520px;
  height: 634px;
  display: flex;

  flex-direction: column;
  margin: 0 auto 32px auto;
  padding: 0 56px;
  transition: transform 0.5s;
  border-radius: 24px;
  border: 2px solid #FFF;
  background-image: url('../../assets/img/Cardbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  .GrayCard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-01, #E7E7E7);
    border-radius: 24px;
    z-index: -1;
    transition: transform 0.5s;
  }
  &:hover {
    cursor: pointer;
    .GrayCard {
      transform: rotate(8deg);
    }
  }


  .TotalAndIndex {
    width: 76px;
    display: inline-flex;
    margin: 48px 0 0 0;
    padding: 4px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid #FFF;
    color: #fff;
  }
  .SvgItem {
    margin-top: 48px;
  }

  .SporeItemTitle {
    font-size: 1.75rem;
    font-family: Tomorrow Bold, monospace;
    background: linear-gradient(261deg, #FFF 41.93%, #DBE1E3 49.15%, #FFF 57.82%, #E3E9EE 67.07%, #FFF 75.74%, #D6DFE6 84.99%, #D8D8D8 93.37%);     background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 32px;
  }
  .SporeItemContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.80);
    ul {
      list-style: disc;
      margin-top: 24px;
      margin-left: 24px;
      li {
        margin-bottom: 8px;
      }
    }
    .content {
      width: 408px;
      /* Body1 */
      z-index: 1;
    }
    .index {
      position: absolute;
      //top: 99px;
      right: 24px;
      color: rgba(255, 196, 59, 0.40);
      text-align: right;
      font-family: Rubik Mono One;
      font-size: 200px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 200px */
    }
  }
  .SporeitemButton {
    a {
      position: absolute;
      width: 48px;
      height: 48px;
      bottom: 30px;
      right: 30px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .SporeItemWrapper {
    width: 32.5rem;
    border-radius: 2.1875rem;
    padding: 0 3.5rem;
    .SvgItem {
      width: 11.4rem;
      height: 11.4rem;
    }
    .TotalAndIndex {
      width: 5.75rem;
      padding: 0.25rem 1.5rem;
      margin-top: 3rem;
    }
    h2 {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
    .SporeItemContent {
      width: 25.5rem;
      ul {
        li {
        }
      }
      .content {
        width: auto;
        font-size: 1rem;
      }
    }
  }
}


@media only screen and (max-width: 768px)  {
  .SporeItemWrapper {
    width: 21.4rem;
    border-radius: 2.1875rem;
    padding: 0 1rem;
    overflow: hidden;
    .SvgItem {
      width: 11.4rem;
      height: 11.4rem;
    }
    .TotalAndIndex {
      width: 5.75rem;
      padding: 0.25rem 1.5rem;
      margin-top: 3rem;
      font-family: Nunito-SemiBold;
    }
    .SporeitemButton {
      a {
        top: 30px;
      }
    }
    h2 {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
    .SporeItemContent {
      width: 19.43rem;
      ul {
        li {
        }
      }
      .content {
        width: auto;
        font-size: 1rem;
      }
    }
  }
}