.SloganWrapper {
  position: relative;
  width: 920px;
  height: 241px;
  margin: 148px auto 12px auto;
  display: flex;
  flex-direction: column;

  .ColonContainer {
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;
    margin-left: 31px;
  }
  .TextContainer {
    width: 920px;
    margin: 0 auto;
    font-family: Baloo Extra Bolder;
    font-size: 56px;
    font-weight: 800;
    line-height: 120%;
    text-align: center;
    span {
      display: inline-flex;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: left 75%;
    }
    .PurpleFont {
      color: var(--brand-blue, #3A5AFF);
    }
  }
}