.SloganWrapper {
  position: relative;
  width: 920px;
  height: 241px;
  margin: 148px auto 12px auto;
  display: flex;
  flex-direction: column;

  .ColonContainer {
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;
    margin-left: 31px;
  }
  .TextContainer {
    width: 920px;
    margin: 0 auto;
    text-align: center;
    span {
      display: inline-flex;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: left 75%;
    }
    .PurpleFont {
      color: var(--brand-blue, #3A5AFF);
    }
  }
}

/* Mobile styles */
@media only screen and (max-width: 1200px) and (min-width: 412px) {
  .SloganWrapper {
    width: auto;
    padding: 0 4rem;
    .TextContainer {
      width: auto;
    }
  }
}

@media only screen and (max-width: 412px)  {
  .SloganWrapper {
    width: auto;
    padding:0 4rem;
    margin-bottom: 6.25rem;
    .ColonContainer {
      margin: 0 0 0.25rem 0;
    }
    .TextContainer {
      width: auto;
    }
  }
}