.breadcrumb-wrapper {
  display: flex;
  padding: 66px 236px 24px 236px;
  align-items: center;
  gap: 12px;
  color: var(--gray, #21232B);
  /* Body2 */
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
   a {
     text-decoration: none;
     &:-webkit-any-link {
       cursor: pointer;
       text-decoration: none;
     }
   }
}