.HomePageWrapper {
  width: 1400px;
  margin: 48px auto 24px auto;
  border-radius: 35px;
  background: var(--background-02, #FFF9EA);
  display: flex;
  flex-direction: column;
}
.tmp {
  height: 300px;
  background-image: url('../../assets/img/img.png');
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .HomePageWrapper {
    width: 1200px;
  }
}

/* Mobile styles */
@media only screen and (max-width: 1200px) and (min-width: 412px) {
  .HomePageWrapper {
    width: auto;
    margin: 3rem 2.5rem 0 2.5rem;
    overflow: hidden;
  }
}

@media only screen and (max-width: 412px)  {
  .HomePageWrapper {
    width: auto;
    margin: 3rem 0 0 0;
    overflow: hidden;
    border-radius: 0;
  }
}