.HomePageWrapper {
  width: 1400px;
  margin: 48px auto 24px auto;
  border-radius: 35px;
  background: var(--background-02, #FFF9EA);
  display: flex;
  flex-direction: column;
}
.MemeContainer {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: #000;
  .SvgContainer {
    display: flex;
    white-space: nowrap;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: rail;
    animation-duration: 40s;
    height: 20px;
    margin: 24px 0;
    gap: 16px;
    .SvgItem {
      display: flex;
      line-height: 20px;
      color: #ffffff;
      font-size: 20px;
      font-family: "Baloo Extra Bolder";
      gap: 16px;
    }
  }
  .MemeBackground {
    height: 157px;
    background-image: url('../../assets/img/memebg.png');
    background-size: cover;
    background-position: center center;
  }
}

@keyframes rail {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/* Mobile styles */
@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .HomePageWrapper {
    width: 43rem;
    margin: 3rem auto 0 auto;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px)  {
  .HomePageWrapper {
    width: auto;
    margin: 0;
    overflow: hidden;
    border-radius: 0;
    .MemeContainer {
      height: 13.5625rem;
      .MemeBackground {
        height: 4.9375rem;
        background-image: url('../../assets/img/memeMobileBg.png');
        background-size: cover;
        background-position: center center;
      }
    }
  }
}