.HomePageWrapper {
  margin: 0 auto 0 auto;
  background: url('../../assets/img/pixel-grey-bg.png');
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1400px) {
  .HomePageWrapper {
    width: 100%;
  }
}


/* Mobile styles */
@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .HomePageWrapper {
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px)  {
  .HomePageWrapper {
    width: auto;
    margin: 0;
    overflow: hidden;
    border-radius: 0;
    .MemeContainer {
      height: 13.5625rem;
      .MemeBackground {
        height: 4.9375rem;
        background-image: url('../../assets/img/memeMobileBg.png');
        background-size: cover;
        background-position: center center;
      }
    }
  }
}